
#visualization_area{
  border: #CCCCCC 2px solid;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
  margin-bottom:50px;
}

.slider{
  width: 500px;
}

.flex-container-slider {
	display: flex;
	flex-direction: row;
}


.slider-value {
	padding-bottom: 20px;
}

.slider-range {
	padding: 0px 5px;
}

#settings-bar {
	padding: 20px;
	text-align: center;
}

#title {
	text-align: center;
	font-size: 30px;
  padding-top: 20px;
}

#intro-message{
  display:block;
  width:650px;
  height:650px;
  background-color: #FFFFFFDD;
  z-index: 2;
  position: absolute;
  top:30;
  text-align:center;
}

#intro-message:hover{
  cursor:pointer;
}

circle{
  z-index: 0;
}
g, .user_points, .user_points_radii{
  z-index: 1;
}
